<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.title == 'Home' %}{{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.name }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">
    
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.locale }}">

    <style type="text/css">{% include critical.css %}</style>

    <script>
    !function(f){"use strict";var e=function(e,n,t){var o,l=f.document,r=l.createElement("link");if(n)o=n;else{var i=(l.body||l.getElementsByTagName("head")[0]).childNodes;o=i[i.length-1]}var a=l.styleSheets;r.rel="stylesheet",r.href=e,r.media="only x",o.parentNode.insertBefore(r,n?o:o.nextSibling);var d=function(e){for(var n=r.href,t=a.length;t--;)if(a[t].href===n)return e();setTimeout(function(){d(e)})};return(r.onloadcssdefined=d)(function(){r.media=t||"all"}),r};"undefined"!=typeof module?module.exports=e:f.loadCSS=e}("undefined"!=typeof global?global:this);
    loadCSS( "{{ '/css/main.css' | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" );
    loadCSS("https://fonts.googleapis.com/css?family=Muli:300");
    </script>

    <link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">
    <link href="{{ '/css/main.css' | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

</head>

