<div class="nav-background">
    <div class="nav-container">

        <div class="nav-header">
            <a class="nav-logo" href="/">{% include bcd-logo.svg %}</a>
        </div>

        <ul class="nav-ul">
            <li><a class="nav-link" href="#about">About</a></li> 
            <li><a class="nav-link" href="#services">Services</a></li>
            <li><a class="nav-link" href="mailto:contact">Contact</a></li>
        </ul>

    </div>
</div>

<!-- hero -->
<div class="hero cover" data-background="{{ site.baseurl }}/images/banner-top.png">
  
    <div class="title">
    <h1>{{ site.banner-tagline }}</h1>
  </div>

</div>

