
// Responsive Nav
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.nav-resp {
	display: none;
}

@media (max-width: 500px) {

    .nav-ul {
        display: none;
    }

    .nav-resp {
        display: block;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    
    .hamburger {
        cursor: pointer;
        width: 70px;
        height: 16px;
    
        position: relative;
        z-index: 300;

        span {
            color: var(--black-color);
            position: absolute;
    
            right: 0;
            line-height: 1;

        }

        .line {
            width: 20px;
            height: 1px;
            background-color: var(--black-color);
            position: absolute;
            top: 50%;
            left: 0;

            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }

    .hamburger.scrolling .line {
        background-color: var(--black-color);
    }

    .hamburger.scrolling span {
        color: var(--black-color);
    }

    .hamburger .line.line-top {
        margin-top: -6px
    }

    .hamburger .line.line-mid {
        margin-top: 0px
    }

    .hamburger .line.line-bot {
        margin-top: 6px
    }

    // .hamburger:hover .line {
    //     //background-color: #afdeb5;
    //     -webkit-transition: all 300ms ease;
    //     -moz-transition: all 300ms ease;
    //     -ms-transition: all 300ms ease;
    //     -o-transition: all 300ms ease;
    //     transition: all 300ms ease
    // }

    .hamburger.open .line { 
        background-color: var(--black-color);
    }
    
    .hamburger.open .line.line-top {
        margin-top: -1.5%;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    
    .hamburger.open .line.line-mid {
        opacity: 0;
    }

    .hamburger.open .line.line-bot {
        margin-top: -1.5%;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .hamburger.open span {
        color: var(--black-color);
    }
    
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.95);
        z-index: 200;
        display: none;
        text-align: center;
        padding-top: 150px;

        ul li {

            margin-bottom: 4rem;

            a {
                font-size: 120%;
                color: var(--black-color);
                text-decoration: none;
                transition: .5s;
                
                &:hover {
                    //color: $color-gold;
                }
            }
            
        }
    }

}

